<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

</head>
<body>
<!--logo menu-->
<header>
    <div class="header-top">
    <img src="/img/logo-mercado-liebre.svg" alt='logo mercado liebre' id="logo">
    <form class="busqueda">
        <input type="search" placeholder="Buscar productos,Marcas"  >
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    <p id="subtitulo"><i class="fa-solid fa-hand-holding-dollar" id="iconoHeader"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav class="nav">
        <ul class="nav-a">
                    <li>
                        <a href="/">Ofertas</a>
                    </li>
                    <li>
                        <a href="/">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="/">vender</a>
                    </li>
                    <li>
                        <a href="/">Ayuda</a>
                    </li>
        </ul>
        <ul class="nav-b">
                <li>
                    <a href="/registro">Crea tu cuenta <i class="fa-solid fa-address-card" id="iconoHeader"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket" id="iconoHeader"></i></a>
                </li>
                <li>
                    <a href="/">Mis compras <i class="fas fa-basket-shopping" id="iconoHeader"></i></a>
                </li>
        </ul>
    </nav>
    <button id="burger-menu">
        <i class="fas fa-bars"></i>
    </button>
    <img src="/img/img-home-banner.jpg" alt='carrusel' class="banner">
</header>
<!--contenido principal-->
    <h4>productos</h4>
<main>
    <h4>Sección: Basado en tu última visita</h4>
    <div class="articulos">
        <section class="tarjeta">
                <img src="/img/img-cafetera-moulinex.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
        </section>
        <section class="tarjeta">
                <img src="/img/img-macbook-pro-2019.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
        </section>
        <section class="tarjeta">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
        </section>
        <section class="tarjeta">
                <img src="/img/img-tv-samsung-smart.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </div>
        </section>
    </div>
        <h4>Sección de Ofertas</h4>
        <div class="articulos">
        <section class="tarjeta" >
                <img src="/img/img-cafetera-moulinex.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
        </section>
        <section class="tarjeta">
                <img src="/img/img-macbook-pro-2019.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
        </section>
        <section class="tarjeta">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
        </section>
        <section class="tarjeta">
                <img src="/img/img-tv-samsung-smart.jpg" alt='carrusel' class ="fotoTarjeta">
            <div class="container-descripcion">
                <i class="fa-solid fa-truck" id="envio"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </div>
        </section>
    </div>
        <br>
</main>
<!--pie de pagina-->
    <footer>
        <section class="footer-content">
            <i class="fa-solid fa-credit-card" id="iconoFooter"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="parrafoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-content">
            <i class="fa-solid fa-gift" id="iconoFooter"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="parrafoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section >
        <section class="footer-content">
            <i class="fa-solid fa-user-shield" id="iconoFooter"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="parrafoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="parrafoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
</footer>
</body>
</html>