<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
<!--logo menu-->
    <header>
        <h1>Mercado Liebre</h1>
        <img src="/img/logo-mercado-liebre.svg" alt='logo mercado liebre' width="300">
        <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/products">products</a>
                    </li>
                    <li>
                        <a href="/">nose</a>
                    </li>
                </ul>
        </nav>
    </header>
<!--contenido principal-->
    <main>
        <div>
            <h2>productos Visitados</h2>
            <article>
                <h3>paletas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, impedit?</p>
            </article>
        </div>
    </main>
<!--pie de pagina-->
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>