*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin:0%
}
header{
    background-color: #EAC926;
    align-items: center;
    color: #666;
    padding-bottom: 10px;
}
main{
    background: color #5f5f5f;;
    color: #000000;
    width: 100%;
}
footer{
    background-color: white;
    color: #666;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 24px;
    font-weight: bold;
    color:black;
    text-align: center;
}
.descripcion{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.parrafoFooter{
    font-size: 12px;
    text-align: center;
}

.nav{
    list-style: none;
    box-sizing: border-box;
    display: none;
    padding-left: 1%;
    color: #000;

}
.nav a {
    text-decoration: none;
    color: #000;
}

.precio{
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;
}
.descuento{
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
    display: block;
}
.tarjeta{ 
    background-color:white;
    margin: 1.5rem;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgb(100, 100, 100);
    
}
.fotoTarjeta{
    width: 100%;
    display: block;
    text-align: center;
    max-width: 500px;
}
.articulos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
#logo{
    width: 90%;
    max-width: 300px;
    display: block;
}
#envio{
    color:#39b54a;
    font-size: 1em;
    justify-content: left;
    align-items: left;
    display: flex;
    margin-left: 3%;
    margin: solid 1px black;
}
.banner{
    width: 100vw;
    height: auto;
    display: flex;
}
.parrafoFooter{
    padding: 10px;
}
.subtitulo{
    text-align: center;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
#burger-menu{
    color:White;
    background-color:#1259c3;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3px;
    margin-left: 45vw; 
    
}
#iconoFooter{
    font-size: 2em;
    align-items: center;
    color:#1259c3;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
#iconoHeader{
    color:black;
    margin-left: 5px;
    
}
.busqueda{
    display: flex;
    max-height: max-content;
    background-color:#39b54a;

}
.busqueda input{
    border: 1px solid transparent;
    height: 24px;
}
.busqueda button{
    border: 1px solid transparent;
    background-color: white;
    height: 24px;
}
 @media (min-width: 400px){
    .nav{
        display: block;
    }
    #burger-menu i {
        display: none;
    }
    #burger-menu{
        display: none;
    }
} 


